<?php

return array(
    'acl_config' => array(
        'defaults' => array(
            'loginRoute' => 'app/login', //Login route
            'roles' => array(
                'Administrator'
            )
        ),
        'modules' => array(
            'application',
            'admin'
        ),
        'permissions' => array(
            'guest' => array(
                'allow' => array(
                    ['resource' => 'application', 'params' => 'index'],
                ),
            ),
            'Administrator' => array(
                'allow' => array(
                    ['resource' => 'admin'],
                ),
                'deny' => array(
                    ['resource' => 'user'],
                )
            )
        )
    )
);
